[submodule "themes/ezhil"]
	path = themes/ezhil
	url = https://github.com/namnd/ezhil.git
[submodule "themes/nostyleplease"]
	path = themes/nostyleplease
	url = https://github.com/hanwenguo/hugo-theme-nostyleplease
